<div class="container">
  <h1>A Flat</h1>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card mt-3" style="width: 75%;">
        <div class="card-body">
          <h5 class="card-title"><%= @flats.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @flats.address %></h6>
        </div>
      </div>
      <div class="card" style="width: 75%;">
        <div class="card-body">
          <h5 class="card-title">A bit more on this flat</h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @flats.description %></h6>
        </div>
      </div>
      <div class="col-12 col-md-4">
      </div>
    </div>
  </div>
